.gradle/
**/build/
local.properties
node_modules/
.aws-sam/
*.jks
*.keystore
device.json
samconfig.toml
.idea/
**/bin/
**/obj/
**/dist/
.vs/
*.user
*.suo
*.zip
artifacts/
*.apk
*.aab
*.p12
*.pfx
.env
.env.*
!.env.example
.aws/
*.log
